@tailwind base;

@layer base {
    @font-face {
        font-family: 'Inter';
        src: url(fonts/Inter-VariableFont.woff2);
        font-display: swap;
    }

    @font-face {
        font-family: 'Cookie';
        src: url(fonts/Cookie-Regular.woff2);
        font-display: swap;
    }

    /* resets from https://www.joshwcomeau.com/css/custom-css-reset/ */
    body {
        -webkit-font-smoothing: antialiased;
    }

    picture,
    canvas,
    svg {
        display: block;
        max-width: 100%;
    }

    html {
        @apply scroll-smooth;
    }

    p,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        @apply break-words;
    }

    html {
        @apply scroll-smooth;
    }

    article img {
        @apply rounded border-4 border-gray-600 border-double mx-auto;
    }

    a {
        @apply transition-all transform hover:scale-110 hover:invert;
    }

    p {
        @apply slashed-zero diagonal-fractions;
    }

    p a:hover {
        @apply underline decoration-wavy;
    }

    blockquote {
        @apply relative p-2 italic border-l-4 text-2xl bg-green-100 border-pink-500 bg-opacity-25 shadow-lg;
    }

    blockquote > p {
        @apply text-blue-500 mx-10;
    }

    blockquote > p:first-of-type:before {
        @apply text-yellow-500;
    }

    blockquote > p:first-of-type:after {
        @apply text-yellow-500;
    }

    blockquote cite {
        @apply flex justify-end text-purple-500;
    }

    th {
        @apply border
    }

    td {
        @apply border
    }
}

@tailwind components;

@layer components {
    .navigation-link {
        @apply px-4 py-2 mt-2 font-semibold text-gray-900 rounded-lg md:mt-0 hover:bg-gray-200 focus:bg-gray-200;
    }

    .social-button {
        @apply py-2 px-6 rounded-md !text-gray-100 font-semibold shadow-lg shrink-0;
    }

    .bg-social-twitter {
        --tw-bg-opacity: 1;
        background-color: rgba(85, 172, 238, var(--tw-bg-opacity));
    }

    .bg-social-linkedin {
        --tw-bg-opacity: 1;
        background-color: rgba(0, 119, 181, var(--tw-bg-opacity));
    }
}

@tailwind utilities;
