@model BaseModel

<div class="flex justify-between items-center max-w-6xl mx-auto px-4 py-3 mt-14">
    @await Html.PartialAsync("_SocialLinks.cshtml", Model)
    @*    <div class="copy"> *@
    @*        © AnkurSheel @DateTime.Now.Year *@
    @*    </div>  *@
</div>
