@inherits StatiqRazorPage<IDocument>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <title>@Document.GetString("title")</title>
</head>
<body>
@RenderBody()
</body>

</html>
