@model Posts
<ul>

    @{
        @foreach (var (key, posts) in Model.AllPosts)
        {
            <h2>@key</h2>

            @foreach (var post in posts)
            {
                <li>
                    <a href="blog/@post.Slug">@post.PageTitle</a>
                </li>
            }
        }
    }
</ul>
