@model Posts
<ul>

    @{
        // var filteredPages = OutputPages.GetDescendantsOf("index.html").Where(x => x.Destination.ToString().StartsWith("blog/")).OrderBy(x => x.GetInt(Keys.Order));

        @foreach (var post in Model.AllPosts)
        {
            // var path = $";
            <li>
                <a href="blog/@post.Slug">@post.Title</a>
            </li>
        }
    }
</ul>
