@model Tag

@foreach (var post in Model.Posts)
{
    <div>
        <p>
            <a href="/blog/@post.Slug">@post.PageTitle</a>
        </p>
        <p>@post.PublishedDate</p>
        <hr/>
    </div>
}
