@model BaseModel

<!DOCTYPE html>
<html lang="en" class="min-h-screen">
<head>
    @await Html.PartialAsync("partials/_Head.cshtml")
</head>
<body class="font-sans font-normal leading-relaxed font-base text-gray-800 min-h-screen bg-gray-100">
<noscript>
    @if (Model.Context.GetGoogleTagManagerId() != null)
    {
        <!-- Google Tag Manager (noscript) -->
        <iframe src="https://www.googletagmanager.com/ns.html?id=@Model.Context.GetGoogleTagManagerId()"
                height="0" width="0" style="display:none;visibility:hidden">
        </iframe>
        <!-- End Google Tag Manager (noscript) -->
    }
    @if (Model.Context.GetGoatCounterCode() != null)
    {
        var url = $"https://{Model.Context.GetGoatCounterCode()}.goatcounter.com/count?p=/test-noscript";
        <img src="@url">
    }
</noscript>

<header class="sticky top-0 bg-white shadow-lg z-10 w-full">
    @await Html.PartialAsync("partials/_Navigation.cshtml")
</header>

<main class="mx-auto max-w-prose p-4 prose prose-xl prose-purple">
    <h1 class="text-center">@Model.Document.GetTitle()</h1>
    <div class="flex flex-col min-h-screen">
        <article class="prose-code:bg-slate-400">
            @RenderBody()
        </article>
    </div>
</main>

@* <footer class="md:sticky bottom-0 shadow-lg z-10 w-full bg-gray-500 text-white">
    @await Html.PartialAsync("partials/_Footer.cshtml")
</footer> *@

@await Html.PartialAsync("partials/_Scripts.cshtml")
@await RenderSectionAsync("Scripts", false)

</body>
</html>
