@model PageModel
@{
    const int numberOfSummaries = 5;
}
<p>
    With so many books to read, how do you decide which ones are worth reading? What were the takeaways from the book? Wouldn't you be rather doing something else?
</p>
<p>
    Save time and spend it on other things that you love... I have the answers!
</p>

<div class="flex flex-col gap-10 lg:flex-row lg:justify-between">
    <div class="bg-gray-200 rounded-3xl px-4 my-8">
        <div class="flex flex-col gap-1 flex-auto text-center">
        <h2>Latest Summaries</h2>
            @{
                var latestPosts = Model.Posts.OrderByDescending(x => x.GetPublishedDate()).Take(numberOfSummaries);
                foreach (var post in latestPosts)
                {
                    <a href="@post.GetPageUrl()" class="prose-2xl mb-4">@post.GetTitle()</a>
                }
            }
        </div>
    </div>
    <div class="bg-gray-200 rounded-3xl px-4 my-8">
        <div class="flex flex-col gap-1 flex-auto text-center">
            <h2 class="">Top Rated Books</h2>
            @{
                var topRatedPosts = Model.Posts.OrderByDescending(x => x.GetRating()).ThenBy(x => x.GetTitle()).Take(numberOfSummaries);
                foreach (var post in topRatedPosts)
                {
                    <a href="@post.GetPageUrl()" class="prose-2xl mb-4">@post.GetTitle()</a>
                }
            }
        </div>
    </div>
</div>
