@model PageModel
@{
    const int numberOfSummaries = 5;
}
<p>
    With so many books to read, how do you decide which ones are worth reading? What were the takeaways from the book? Wouldn't you be rather doing something else?
</p>
<p>
    Save time and spend it on other things that you love... I have the answers!
</p>

<h2>Latest Summaries</h2>
<ul class="p-0">
    @{
        var latestPosts = Model.Posts.OrderByDescending(x => x.GetPublishedDate()).Take(numberOfSummaries);
        foreach (var post in latestPosts)
        {
            <li class="list-none mt-6 md:mt-1 p-0">
                <a href="@post.GetPageUrl()" class="prose-2xl mb-4">@post.GetTitle()</a>
            </li>
        }
    }
</ul>

<h2>Top Rated Books</h2>
<ul class="p-0">
    @{
        var topRatedPosts = Model.Posts.OrderByDescending(x => x.GetRating()).ThenBy(x => x.GetTitle()).Take(numberOfSummaries);
        foreach (var post in topRatedPosts)
        {
            <li class="list-none mt-6 md:mt-1 p-0">
                <a href="@post.GetPageUrl()" class="prose-2xl mb-4">@post.GetTitle()</a>
            </li>
        }
    }
</ul>
